{
	"app": {
	       "bind": ":19998",
	       "webroot": "public",
	       "env": "dev"	       
	},
	"rethink": {
		   "address": "127.1:28015",
		   "database": "wikivoice",
		   "maxIdle": 10,
		   "maxActive": 20
	},
	"redis": {
		 "vote": {"address": "127.1:15001"},
		 "list": {"address": "127.1:15002"}
	}
}
